    .about-section {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    color: #e6edf3;
    line-height: 1.7;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Title */
.about-section h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 6px rgba(168, 85, 247, 0.4);
}

/* Paragraphs */
.about-section p {
    margin-bottom: 18px;
   
}



/* Last line  */
.about-highlight {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #c084fc;
    font-weight: bold;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 600px) {
    .about-section {
        padding: 25px;
        margin: 40px 15px;
        font-size: 16px;
    }

    .about-section h2 {
        font-size: 28px;
    }
}
