                  
body {
  margin: 0;
  padding-top: 64px;   
}
                  /*css nav*/
.nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;   
       
    box-shadow: 0 2px 12px rgba(0,0,0,.15);


}
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;

}
.nav-links a{
    text-decoration: none;
    
}
               /*css hero*/
.hero-image {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
    display: block ;
    opacity: 0.8;
    
}
.hero-title {
    position: absolute;
    top: 225px;
    left: 650px;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*css movie gallery*/
.movie-gallery {
    padding: 20px;
    background-color: #f4f4f4;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    gap: 1.5rem;
    justify-items: center ;
}
.flipcart {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 236px;
    text-align: center;
}
.flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}
.flipcart:hover .flipper {
    
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}
.front img {
    width: 100%;
    height: 100%;
    display: block;
}
.front h2 {
  position: absolute;
  bottom: 0;


}
.back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
}
